<!DOCTYPE html>
<html>
<head>
	<title>ABOUT US</title>
	<style type="text/css">
		
		.a{
			background: url('http://www.sepeb.com/background-images-for-websites/background-images-for-websites-016.jpg');
			background-size: cover;
			background-repeat: no-repeat;

		}
		.b{
			background-color:gray;
			height: 750px;
			width: 70%;
		}
		.img-circle {
    border-radius: 50%;
   	border: 7px solid black;
}
	
.p{
	font-size: 50px;
}
.p1{
	font-size: 30px;
}


	</style>
</head>
<body class="a">
	<center>
		<p class="p"><b>ABOUT US</b></p>
		<div class="b">
		<img class="img-circle" src="https://image.ibb.co/gcROk6/image.jpg" width="300px" height="270px">&emsp;&emsp;&emsp;&emsp;&emsp;<img  class="img-circle" src="https://image.ibb.co/b9vG56/IMG_20171121_185409.jpg" width="300px" height="270px">
		&emsp;&emsp;&emsp;&emsp;&emsp;
		<img  class="img-circle" src="https://image.ibb.co/k6tsdR/IMG_1566.jpg" width="300px" height="270px"><p class="p1"><b>PARKHI MOHAN&emsp;&emsp;&emsp;&emsp;&emsp;MAHESHWARI K&emsp;&emsp;&emsp;&emsp;&emsp;SRI HARSHITHA K</b></p>
		<img class="img-circle"  src="https://image.ibb.co/bKx7Cm/IMG_1569.jpg" width="300px" height="270px">&emsp;&emsp;&emsp;&emsp;&emsp;<img class="img-circle"  src="https://image.ibb.co/c7ZnCm/IMG_20160805_WA0000.jpg" width="300px" height="270px">&emsp;&emsp;&emsp;&emsp;&emsp;
		<img class="img-circle"  src="https://image.ibb.co/c7ZnCm/IMG_20160805_WA0000.jpg" width="300px" height="270px">
		<p class="p1"><b>SREE PRAGNA V&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MOUNIKA C&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;         DHARANI M</b></p>
	</div>
</center>
</body>
</html>