<!DOCTYPE html>
<html>
<head>
	<title>DEMO</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container" style="background-image: url('http://www.allthesky.com/constellations/leominor/big.jpg');background-size: cover;">
	<br><br><center><h1 style="color: white;"><b>DEMO VIDEOS OF OUR PROJECT</b></h1><br><br>
	<iframe width="365" height="230" src="https://www.youtube.com/embed/DLMsdoK3XWg" frameborder="0" gesture="media" allowfullscreen></iframe>
	&emsp;
	<iframe width="365" height="230" src="https://www.youtube.com/embed/DBBuA4DxlEg" frameborder="0" gesture="media" allowfullscreen></iframe>
	&emsp;
	<iframe width="365" height="230" src="https://www.youtube.com/embed/3fZiCdFwbfc" frameborder="0" gesture="media" allowfullscreen></iframe>
	<br><br>	
	<iframe width="380" height="230" src="https://www.youtube.com/embed/iHYR93UqCdM" frameborder="0" gesture="media" allowfullscreen></iframe>
	&emsp;&emsp;&emsp;
	<iframe width="380" height="230" src="https://www.youtube.com/embed/C3-qcOCV6Fg" frameborder="0" gesture="media" allowfullscreen></iframe>
</center>
</body>
</html>
